<!-- posts#index -->
<div class="container">
	<table class ="table">
		<h2 class="text-info"><%= 'Listing all posts by ' + @user.name %></h2>
		<%= ' Sorted from newest to oldest.' %>
		<% @posts.reverse! %>
		<% i = 1 %>
		<% @posts.each do |post| %>
		
			<tr>
			<td style ="font-size:24px"><%= i %></td>
			<td><%= post.title %></td>

			<p><%= 'likes: ' + post.likes.count %></p>

			<p><%= 'dislikes: ' + post.dislikes.count %></p>
			</tr>
			
			<% i = i + 1 %>	
					
		<% end %>
	</table>
</div>